/* mobile_row */
/* @media screen and (max-width:1024px) {} */

/* mobile_column */
/* @media screen and (max-width:512px) {} */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: rgba(187, 187, 187, 0.267);
}

.wrap {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    min-width: 1100px;
    /* border: 1px solid red; */
}

.header {
    border-top: 3px solid #2163a5;
    width: 100%;
    height: 100px;
    background-color: #fff;
}

/* mobile_row */
/* @media screen and (max-width:1024px) {} */

/* mobile_column */
@media screen and (max-width:512px) {
    .header {
        height: 72px;
    }
}



.header_container {
    margin: 0 100px;

    /* margin: 0 auto;
    width: 1480px; */
    height: 100%;
    /* border-left: 1px solid yellow; */
    /* border-right: 1px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hd_menu_container {
    width: 650px;
    height: 100%;
    /* background-color: springgreen; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.hd_menu {
    padding-right: 20px;
    /* background-color: tan; */
    border-right: 1px solid rgb(112, 112, 112);
    font-size: 14px;

}

#hd_textbox {
    width: 200px;
    height: 35px;
    text-indent: 10px;
}

#hd_textbtn {
    width: 35px;
    height: 35px;
}

.hd_menu:nth-child(4) {
    border-right: none;
}

.hd_menu:nth-child(5) {
    padding-right: 0;
    border-right: none;
}


.nav {
    width: 100%;
    height: 50px;
    background-color: #fafafa;
    position: relative;
    z-index: 100;
    border-bottom: 1px solid #bebebe;
}

/* mobile_row */
/* @media screen and (max-width:1024px) {} */

/* mobile_column */
@media screen and (max-width:512px) {
    .nav {
        position: absolute;
        right: 0;
        top: 72px;
        width: 830px;
        height: 100%;
        background-color: springgreen;
    }
}

.nav_container {
    margin: 0 auto;
    width: 1000px;
    height: 100%;
    /* border-left: 1px solid red;
    border-right: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.nav_mainmenu {
    padding: 0 50px;
    border-right: 1px solid #353535;
    position: relative;
    font-size: 15px;
    color: #272727;
    font-weight: bold;

}

.nav_mainmenu:nth-child(6) {
    border-right: none;
    color: #37841F;
}



.nav_submenu_container {
    position: absolute;
    z-index: 99;
    left: 0;
    top: 36px;
    width: 100%;
    height: fit-content;
    /* background-color: teal; */
    overflow: hidden;
    display: none;
}

.nav_submenu {
    margin-top: 3px;
    width: 100%;
    height: 20px;
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    color: #fff;
}

.nav_back {
    position: absolute;
    z-index: 98;
    left: 0;
    top: 50px;
    width: 100%;
    height: 200px;
    background-color: #2B8ED1;
    overflow: hidden;
    display: none;
}

.nav_container:hover .nav_submenu_container {
    display: block;
}


.nav_container:hover .nav_back {
    display: block;
}








.main {
    margin: 0 auto;
    width: 1040px;

    /* border: 1px solid rgb(166, 255, 0); */
}

.main_article1 {
    width: 100%;
    height: 902px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main_article1_l {
    width: 644px;
    height: 902px;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main_article1_l>div:nth-child(1) {
    width: 644px;
    height: 543px;
    background-color: rgb(106, 175, 175);

}

.main_article1_l>div:nth-child(2) {
    width: 644px;
    height: 52px;
    background-color: rgb(106, 175, 175);

}

.main_article1_l>div:nth-child(3) {
    width: 644px;
    height: 284px;
    background-color: rgb(106, 175, 175);

}







.main_article1_r {
    width: 330px;
    height: 902px;
    background-color: rgb(133, 197, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.main_article1_r>div:nth-child(1) {
    width: 330px;
    height: 332px;
    background-color: rgb(72, 122, 62);
}

.main_article1_r>div:nth-child(2) {
    width: 330px;
    height: 421px;
    background-color: rgb(72, 122, 62);
}

.main_article1_r>div:nth-child(3) {
    width: 330px;
    height: 135px;
    background-color: rgb(72, 122, 62);
}










.footer {
    width: 100%;

    /* border: 1px solid red; */
}

.footer_hd {
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-bottom: 0.5px solid #cacaca;
}

.footer_hd_container {
    margin: 0 160px;
    height: 100%;
    /* background-color: turquoise; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_hd_btn_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_hd_btn {
    padding: 0 15px;
    color: #acacac;
    /* background-color: springgreen; */
}


.footer_hd_sns_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

.footer_hd_sns {
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_hd_sns .fa-facebook-f {
    color: #5176BC;
}

.footer_hd_sns .fa-blogger {
    color: #54B956;
}

.footer_hd_sns .fa-youtube {
    color: #FF0000;
}




.footer_bd {
    width: 100%;
    height: 140px;
    background-color: #fff;
}

.footer_bd_container {
    margin: 0 160px;
    height: 100%;
    background-color: #DFDFDF;
}
